:root{

    --white: #fff;
    --black: #000;

    /* Grey */
    --grey-950: #102026;
    --grey-500: #69707d;
    --grey-300: #c3cad9;
    --grey-100: #e4e9f2;
    --grey-50: #f6f8fd;

    /* Orange */
    --orange-500: #ff7e1b;
    --orange-300: #ffab6a;

    --font-kumbh: "Kumbh Sans", sans-serif;
    --font-bold: 700;
    --font-regular: 400px;

    --max-width-tablet: 610px;
    --max-width-desktop: 1110px;
}

/* general config */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}

/* Typography */

.text-present-1 {
    font-family: var(--font-kumbh);
    font-size: 44px;
    font-weight: var(--font-bold);
    line-height: 48px;
    letter-spacing: 0px;
}

.text-present-2 {
    font-family: var(--font-kumbh);
    font-size: 28px;
    font-weight: var(--font-bold);
    line-height: 32px;
    letter-spacing: 0px;
}

.text-present-3-bold {
    font-family: var(--font-kumbh);
    font-size: 16px;
    font-weight: var(--font-bold);
    line-height: 26px;
    letter-spacing: 0px;
}

.text-present-3-regular {
    font-family: var(--font-kumbh);
    font-size: 16px;
    font-weight: var(--font-regular);
    line-height: 26px;
    letter-spacing: 0px;
}

.text-present-4 {
    font-family: var(--font-kumbh);
    font-size: 15px;
    font-weight: var(--font-regular);
    line-height: 26px;
    letter-spacing: 0px;
}

.text-present-5 {
    font-family: var(--font-kumbh);
    font-size: 13px;
    font-weight: var(--font-bold);
    line-height: 16px;
    letter-spacing: 2px;
}

.text-present-6 {
    font-family: var(--font-kumbh);
    font-size: 12px;
    font-weight: var(--font-bold);
    line-height: 15px;
    letter-spacing: 1.85px;
}

/* Header */
nav {
    width: 100%;
    padding: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav .nav-desktop {
    display: none;
}

nav .left {
    display: flex;
    align-items: center;
    gap: 16px;
}

nav .burger-menu {
    width:  16px;
    background-color: transparent;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

nav .burger-menu .hamburguer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

nav .burger-menu .hamburguer .bar {
    width: 100%;
    height: 3px;
    background-color: var(--grey-500);
}

nav .menu {
    width: 100%;
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.750);
    opacity: 0;
    z-index: -999;
}

nav .menu .menu-container {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    height: 100%;
    padding: 24px;
    gap: 56px;
    width: 0;
    overflow: hidden;
    opacity: 0;
    transition: all ease-in-out .5s;

}

nav .menu .menu-container .burger-menu {
    position: relative;
}

nav .menu .menu-container .burger-menu .hamburguer #bar1 {
    transform: rotate(50deg);
}

nav .menu .menu-container .burger-menu .hamburguer #bar2 {
    background: transparent;
}

nav .menu .menu-container .burger-menu .hamburguer #bar3 {
    transform: rotate(-50deg);
    position: absolute;
    top: 0;
    right: 0;
}

nav .menu .nav-menu {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

nav .menu .nav-menu .nav-link a {
    color: var(--grey-950);
}

nav .active {
    opacity: 1;
    z-index: 999;
}

nav .active .menu-container {
    width: 70%;
    overflow: auto;
    opacity: 1;
}

nav .rigth {
    display: flex;
    align-items: center;
    gap: 24px;
}

nav .rigth .user img {
    width: 24px;
    height: 24px;
}

@media screen and (min-width: 768px) {
    nav {
        max-width: var(--max-width-tablet);
        margin: auto;
        padding: 32px 0;
        border-bottom: 1px solid var(--grey-100);
    }

    nav .rigth {
        gap: 48px;
    }
}

@media screen and (min-width: 1200px) {
    nav {
        max-width: var(--max-width-desktop);
    }

    nav .nav-desktop {
        display: flex;
        align-items: center;
        gap: 56px;
    }

    nav .nav-desktop .nav-menu {
        display: flex;
        gap: 32px;
    }

    nav .nav-desktop .nav-menu .nav-link a {
        color: var(--grey-500);
    }

    nav .left {
        display: none;
    }
}

/* .product {
    max-height: 400px;
} */